In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = bs(source, 'lxml')

In [3]:
table = soup.find('table')

In [4]:
newdata=[]
tbody=soup.find('tbody')
for text in tbody.stripped_strings:
    newdata.append(text)
newdata[0:6]

['Postcode', 'Borough', 'Neighbourhood', 'M1A', 'Not assigned', 'Not assigned']

In [5]:
del newdata[0:3]
newdata[0:6]

['M1A', 'Not assigned', 'Not assigned', 'M2A', 'Not assigned', 'Not assigned']

In [6]:
len(newdata)

864

In [7]:
postcode= newdata[0:len(newdata):3]
borough= newdata[1:len(newdata):3]
neighbourhood= newdata[2:len(newdata):3]

In [8]:
df = pd.DataFrame({'PostCode':postcode,'Borough':borough,'Neighbourhood':neighbourhood})

In [9]:
df.head()

  PostCode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [10]:
df.replace({'Borough':'Not assigned'},np.nan,inplace=True)
df.head()

  PostCode           Borough     Neighbourhood
0      M1A               NaN      Not assigned
1      M2A               NaN      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [11]:
df.dropna(how='any',inplace=True)
df.reset_index(inplace=True)
df.head()

   index PostCode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M5A  Downtown Toronto       Regent Park
4      6      M6A        North York  Lawrence Heights

In [12]:
df.drop('index', axis=1,inplace=True)
df.head()

  PostCode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [13]:
df.loc[df.Neighbourhood=='Not assigned', :]

  PostCode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

In [14]:
df['Neighbourhood'].replace(['Not assigned'],["Queen's Park"], inplace=True)
df.head(8)

  PostCode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue

In [15]:
len(df['PostCode'].unique())

103

In [101]:
df= df.groupby(['PostCode','Borough'])[['Neighbourhood']].sum()
df.reset_index(inplace=True)

In [102]:
df.head()

  PostCode      Borough                       Neighbourhood
0      M1B  Scarborough                        RougeMalvern
1      M1C  Scarborough  Highland CreekRouge HillPort Union
2      M1E  Scarborough       GuildwoodMorningsideWest Hill
3      M1G  Scarborough                              Woburn
4      M1H  Scarborough                           Cedarbrae

In [103]:
df.shape

(103, 3)